<% players += 1; %>
<tr>
	<td>
		<select class="u-full-width" onchange="changeDeckList('<%=players%>')" id="player<%=players%>pilot">
			<% for(var i = 0; i < playerNames.length; i++) { %>
				<option value="<%= playerNames[i] %>"><%= playerNames[i] %></option>
			<% } %>
		</select>
	</td>
	<td><select class="u-full-width" id="player<%=players%>decklist"></select></td>
	<td><input type="radio" name="starter" value="player<%=players%>"></td>
	<td><input type="radio" name="winner" value="player<%=players%>"></td>
</tr>