<% players += 1; %>

<div class="player-badge">
	<div class="row">
		<div class="container">
			<i class="fas fa-user"></i>
			<select class="select" name="result[player]" id="player<%=players%>pilot">
				<% for(var i = 0; i < allPlayers.length; i++) { %>
					<option value="<%= allPlayers[i].username %>"><%= allPlayers[i].username %></option>
				<% } %>
			</select>
		</div>
		<div class="container">
			<i class="fas fa-book"></i>
			<select class="select" name="result[deck]" id="player<%=players%>deck">
				<% for(var i = 0; i < allDecks.length; i++) { %>
					<option value="<%= allDecks[i].name %>"><%= allDecks[i].name %></option>
				<% } %>
			</select>
		</div>

		<div class="container">
			<i class="fas fa-hand-paper"></i>
			<!--<i class="material-icons">filter_7</i>-->
			<input type="number" name="result[hand]" min="0" max="7" value="7">
		</div>			
	</div>
	<div class="row">
		<div class="container">
			<i class="fas fa-trophy"></i>
			<input id="playername" type="radio" name="result[starter]" value="<%= players %>">
			<i class="fas fa-hand-pointer"></i>
			<input id="playername" type="radio" name="result[winner]" value="<%= players %>">
		</div>
	</div>
</div>
