<% include ./partials/header %>



<div class="section data">
	<div class="container">
		<div class="row">
		
		<% if(currentUser) { %>
			<form action="/players/<%= currentUser.username %>/?_method=PUT" method="post">
			<input type="hidden" name="player[username]" value="<%= currentUser.username %>">
			<input type="submit" value="Save changes">
		<% } %>

		<table class="match-result u-full-width">
	    	<% if(currentUser) { %>
				<h1>Favourites</h1>
					<thead>
				    	<tr>
					    	<th>Deck</th>
					    	<th>Favourited</th>
						</tr>
				  	</thead>
				  <tbody>
			 		<% for(var i = 0; i < currentUser.decks.length; i++) { %>
			  			<tr>
							<td><a href="/decks/<%= currentUser.decks[i] %>"><%= currentUser.decks[i] %></a></td>
							<td><input type="checkbox" name="player[decks]" value="<%= currentUser.decks[i] %>" checked></td>
						</tr>
					<% } %>
					</tbody>
				</table>
		    <% } %>

		<form action="/decks/new" method="get">
		<input type="submit" value="Add new deck">
		</form>
			<table class="match-result u-full-width">
			<h1>Decks</h1>
				<thead>
			    	<tr>
			    		<th>Deck</th>
			    		<th>Tappedout</th>
			      		<% if(currentUser) { %>
			      			<th>Favourited</th>
			      		<% } %>
			    	</tr>
				</thead>
				<tbody>
			 		<% for(var i = 0; i < decks.length; i++) { %>
			  			<tr>
							<td><a href="/decks/<%= decks[i].name %>"><%= decks[i].name %></a></td>
							<td><a href="<%=decks[i].tappedout%>" ><%= decks[i].tappedout %></td>
							<% if(currentUser) { %>
							<td><input type="checkbox" name="player[decks]" value="<%= decks[i].name %>"></td>
							<% } %>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% if(currentUser) { %>
	</form>
<% } %>

<% include ./partials/footer %>