<% include ./partials/header %>

<div class="section">
	<div class="container">
		<div class="row">
		
		<form action="/decks/new" method="get">
		<input type="submit" value="Add new deck">
		</form>
		
		<% if(currentUser) { %>
			<form action="/players/<%= currentUser.username %>/?_method=PUT" method="post" id="favouritesForm"></form>
			<input type="hidden" name="player[username]" value="<%= currentUser.username %>" form="favouritesForm">
	    <% } %>

		
			<h1>Decks</h1>
			<div class="data">
				<table class="match-result">
					<thead>
				    	<tr>
				    		<th>Deck</th>
				    		<th>Tappedout</th>
				      		<% if(currentUser) { %>
				      			<th>Favourited</th>
				      		<% } %>
				    	</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < decks.length; i++) { %>
				  			<tr>
								<td><a href="/decks/<%= decks[i].name %>"><%= decks[i].name %></a></td>
								<td><a href="<%=decks[i].tappedout%>" ><%= decks[i].tappedout %></td>
								<% if(currentUser) { %>
									<td><input onchange="this.form.submit()" type="checkbox" name="player[decks]" value="<%= decks[i].name %>" form="favouritesForm"
									 <% if(decks[i].favourite) { %>
										checked></td>
									<% } else { %>
									></td>
										<% } %>
								<% } %>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<% if(currentUser) { %>
	</form>
<% } %>

<% include ./partials/footer %>