<% include ./partials/header %>

<div class="section">
	<div class="container">
		<div class="row">
			<form action="/results/new" method="get">
			<input type="submit" value="Add new result">
			</form>
			<h1>Results</h1>
			<div class="data">
				<table id="resultsTable" class="match-result u-full-width">
					<thead>
						<tr>
							<th onclick="sortTable('resultsTable',0,'true');">#<i class="fas fa-filter"></i></th>
							<th onclick="sortTable('resultsTable',1,'true');">Turns</th>
							<th onclick="sortTable('resultsTable',2,'true');">Players</th>
							<th onclick="sortTable('resultsTable',3);">Player</th>
							<th onclick="sortTable('resultsTable',4);">Deck</th>
							<th onclick="sortTable('resultsTable',5,'true');">Mulligan</th>
							<th onclick="sortTable('resultsTable',6);">Starter</th>
							<th onclick="sortTable('resultsTable',7);">Winner</th>
							<th onclick="sortTable('resultsTable',8);">Time</th>
						</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < results.length; i++) { %>
				  			<tr>
								<td><%= results[i].match %></td>
								<td><%= results[i].turns %></td>
								<td><%= results[i].players %></td>
								<td><%= results[i].player %></td>
								<td><%= results[i].deck %></td>
								<td><%= results[i].hand %></td>
								<td>
									<% if(results[i].starter) { %>
										<i  class="fas fa-dice"></i>
									<% } %>
								</td>
								<td>
									<% if(results[i].winner) { %>
										<i class="fas fa-trophy"></i>
									<% } %>
								</td>
								<td><%= new Date(Date.parse(results[i].time)).toLocaleDateString("en-US"); %></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>


<% include ./partials/footer %>