<% include ./partials/header %>

<div class="section">
	<div class="container">
		<div class="row">
			<form action="/results/new" method="get">
			<input type="submit" value="Add new result">
			</form>
			<h1>Results</h1>
			<div class="data">
				<table class="match-result u-full-width">
					<thead>
						<tr>
							<th>#</th>
							<th>Turns</th>
							<th>Players</th>
							<th>Player</th>
							<th>Deck</th>
							<th>Mulligan</th>
							<th>Starter</th>
							<th>Winner</th>
							<th>Time</th>
						</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < results.length; i++) { %>
				  			<tr>
								<td><%= results[i].match %></td>
								<td><%= results[i].turns %></td>
								<td><%= results[i].players %></td>
								<td><%= results[i].player %></td>
								<td><%= results[i].deck %></td>
								<td><%= results[i].hand %></td>
								<td>
									<% if(results[i].starter) { %>
										<i  class="fas fa-dice"></i>
									<% } %>
								</td>
								<td>
									<% if(results[i].winner) { %>
										<i class="fas fa-trophy"></i>
									<% } %>
								</td>
								<td><%= results[i].time %></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>


<% include ./partials/footer %>